.event-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.event-logo {
    width: 25%;
    img {
        width: 100%;
    }
}

.event-info {
    color: $text;
    text-align: right;
    padding-left: 15px;
}

.event-byline {
    font-size: 12px;
}

.event-title {
    font-family: $fontBold;
}
