.recent-news {
 padding: 15px 0;
}

.news-image {
    width: 100%;
    margin-right: 10px;
    img {
        margin-bottom: 10px;
         margin-bottom: 10px;
    width: 107%;
    margin-left: -9px;
    margin-right: 18px;
    }
}

.news-content {
}

.news-title {
    color: $blue;
}

.news-excerpt {
    color:$text;
    font-size: 12px;
}

.news-meta {
    color: $black;
    font-family: $fontMedium;
    font-size: 12px;
    text-transform: uppercase;
}