.article-list {
    width: 100%;
    color: #999;
}

.article-list_item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    &:first-of-type {
    	margin-top: 20px;
    }
}

.article-list_image {
    width: 40%;
    float: left;
    img {
        width: 100%;
    }
}

.article-featured-image {
    width: 100%;
    img {
        width: 100%;
    }
}

.article-list_content-title {
    color: #333;
}

.article-list_content-excerpt {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.article-list_content-meta {}

.article-list_content {
    width: 60%;
    margin-left: 2%;
}
