.footer {
    background-color: $blue;
    color: $white;
    padding: 20px 0;
}

.affiliation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .affiliation-image {
        width: 30%;
        img {
            width: 100%;
        }
    }
}

.copyright {
    text-align: center;
    a {
        color: $gold;
    }
}
