/* Color  */
$blue: #07294D;
$gold: #FFC600;
$linkHover: #07294D;
$link: #006699;
$red: #9E0B0F;

$text: #242424;

$grey: #eee;
$greyDark: #E1E1E0;
$greyMedium: #666;
$black: #000;
$white: #fff;
$heading: #3e3e3e;
$greyBorder: #ebebeb;

$facebook: #3b5998;
$twitter: #33CCFF;


/* Border */
$greyBorderSmall: 1px solid #ebebeb;

/* Size */
$gutter: 20px;

