/* Font Family */
$fontBold: 'bebas_neuebold' Arial, sans-serif;
$fontLight: 'bebas_neuelight' Arial, sans-serif;
$fontRegular: 'bebas_neue_regularregular' Arial, sans-serif;

/* Color  */
$blue: #07294D;
$gold: #FFC600;
$linkHover: #07294D;
$link: #006699;
$red: #9E0B0F;

$text: #242424;

$grey: #eee;
$greyDark: #E1E1E0;
$greyMedium: #666;
$black: #000;
$white: #fff;
$heading: #3e3e3e;
$greyBorder: #ebebeb;

$facebook: #3b5998;
$twitter: #33CCFF;


/* Border */
$greyBorderSmall: 1px solid #ebebeb;

/* Size */
$gutter: 20px;

/* Fonts */
$fontBlack: "robotoblack", Arial, sans-serif;
$fontBold: "robotobold", Arial, sans-serif;
$fontMedium: "robotomedium", Arial, sans-serif;
$fontRegular: "robotoregular", Arial, sans-serif;
$fontLight: "robotolight", Arial, sans-serif;
$fontThin: "robotothin", Arial, sans-serif;
$siteTitle: "miller", Arial, sans-serif;


