.page {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;

    }
}

body {
    background-color: $grey;
}

.block-heading-section {
        display: flex;
    justify-content: space-between;
}
.block-heading {
 color: $heading;
 padding: 15px 0;

}

.module {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.module-wrap {
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.meta {
    font-family: $fontBold;
    color: $blue;
    text-transform: uppercase;
}

.module-continue {
    margin-top: 0;
}
