
.spacing {
  & > * + * {
    margin-top: rem(gutter(mobile));

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop));
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super));
    }
  }
}

.spacing-quarter {
  & > * + * {
    margin-top: rem(gutter(mobile)/4);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)/4);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)/4);
    }
  }
}

.spacing-half {
  & > * + * {
    margin-top: rem(gutter(mobile)/2);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)/2);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)/2);
    }
  }
}

.spacing-one-and-half {
  & > * + * {
    margin-top: rem(gutter(mobile)*1.5);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)*1.5);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)*1.5);
    }
  }
}

.spacing-double {
  & > * + * {
    margin-top: rem(gutter(mobile)*2);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)*2);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)*2);
    }
  }
}

.spacing-triple {
  & > * + * {
    margin-top: rem(gutter(mobile)*3);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)*3);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)*3);
    }
  }
}

.spacing-zero {
  & > * + * {
    margin-top: 0;
  }
}

.spacing-top {
  & > *:first-child {
    margin-top: rem(gutter(mobile));

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop));
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super));
    }
  }
}

.spacing-top-double {
  & > *:first-child {
    margin-top: rem(gutter(mobile)*2);

    @include breakpoint($q-large) {
      margin-top: rem(gutter(desktop)*2);
    }
    @include breakpoint($q-super) {
      margin-top: rem(gutter(super)*2);
    }
  }
}