a {
    text-decoration: none;
    color: $link;
    &:hover {
        color: $linkHover;
    }
}

.nav-link {
    color: $blue;
    display: block;
    height: 40px;
    line-height: 40px;
}

.nav-active {
    color: $blue;
    display: block;
    height: 40px;
    line-height: 40px;
}

.arrow-link {
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 11px;
}
